<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TracDat</title>
    <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>

        <center><h2>TracDat</h2> </center>
    
        <div class="container">
        <fieldset>
           
                <% for(var i=0; i <= blocks.length -1; i++){ %>
                  <p> <%= blocks[i] %> </p>
                <% } %>
                <!-- <% if(blocks !== null){ %>
                    <p><%= blocks %></p>
                <% } %>
        
                <% if(error !== null){ %>
                    <p><%= error %></p>
                <% } %> -->

            
        </fieldset>
        </div>
   
  </body>
</html>
